<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Swap your footwear!</title>
    <!-- css files -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">


    <!-- Javascript files -->
    <script type="text/javascript" src="../JS/myScript.js"></script>
    <link rel="icon" type="image/png" sizes="16x16"
          href="../Images/favicon-16x16.png">
</head>
<body id="grad">
<!-- Header of the main page -->
<% include partials/header.ejs %>

<!--User Links -->
<% include partials/user-navigation.ejs %>

<!-- Site navigation options -->
<% include partials/site-navigation.ejs %>

<!-- Breadcrumbs and the image presentation -->
<div class="col-xs-12 col-sm-10">

    <nav>
        <ol class="breadcrumb ">
            <li class="breadcrumb-item "><a href="/">Home</a></li>
        </ol>
    </nav>

    <!-- Main index.html content -->
    <main>
        <section>
            <article>
                <div class="modal-header">
                    <div style="border-radius: 45%;">
                        <img src="../Images/login.png" alt="Login" height="200" width="200" class="login">
                    </div>
                </div>
                <form action="/signin" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-form-label">Username:</label>
                            <input type="text" name="username" class="form-control"
                                   id="recipient-name" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Password:</label>
                            <input type="password" name="password" class="form-control"
                                   id="recipient-password" required>
                        </div>
                        <div style="margin-left: 45%">
                            <input type="submit" class="btn btn-secondary" value="Sign In">
                            Not a User?  <a href="/register">Register Here</a>
                        </div>
                        <div>

                        </div>
                        <% if(errorValues != undefined){ %>
                            <% errorValues.forEach(function (element) { %>
                                <div>
                                    <p><%= element %></p>
                                </div>
                            <% }) %>
                        <% } %>
                    </div>
                </form>
            </article>
        </section>
    </main>
</div>
</div>
</div>

<!-- Footer of the webpage -->
<% include partials/footer.ejs %>

</body>
</html>