
<div class="container-fluid footer_padding">
    <div class="row useroptions">
        <div class="col-xs-12">
            <footer>
                © 2018 futXchange. All rights reserved. <a href="">Terms of use
                    | </a><a href="">Privacy Policy | </a><a href="">About us</a>
            </footer>
        </div>
    </div>
</div>
