<div class="container-fluid">
    <div class="row header">
        <div class="col-sm-10 w-100 h-25">
            <header>
                <img alt="Footwear Logo" src="../Images/logo.jpg" height="100"
                     width="300">
            </header>
        </div>
    </div>
</div>