<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-2 useroptions">
            <aside>
                <nav class="nav flex-column nav-pills">
                    `
                    <ul>
                        <li class="SiteOptions"><a href="/"
                                                   class="nav-link"> <span
                                        class="glyphicon glyphicon-home"></span> Home
                            </a></li>
                        <li class="SiteOptions"><a href="/categories"
                                                   class="nav-link"> <span class="glyphicon glyphicon-th-list"></span>
                                Categories
                            </a></li>
                        <li class="SiteOptions"><a href="" class="nav-link"> <span
                                        class="glyphicon glyphicon-globe"></span> Stores
                            </a></li>
                        <li class="SiteOptions"><a href="/about" class="nav-link"> <span
                                        class="glyphicon glyphicon-info-sign"></span> About
                            </a></li>
                        <li class="SiteOptions"><a href="/contact" class="nav-link"> <span
                                        class="glyphicon glyphicon-phone-alt"></span> Contact Us
                            </a></li>
                    </ul>
                </nav>
            </aside>
        </div>
