<div class="container-fluid">
    <div class="row tabs">
        <div class="col-xs-12 mx-auto w-100">
            <nav class="links nav nav-tabs">
                <ul>
                    <li class="UserOptions"><a href="/signout" class="btn btn-primary">
                            <span class="glyphicon glyphicon-user"></span> Sign Out
                        </a></li>
                    <li class="UserOptions"><a href="/myitems"
                                               class="btn btn-primary"> My Footwears </a></li>
                    <li class="UserOptions"><a href="/myswaps" class="btn btn-primary">
                            My Swaps </a></li>
                    <li class="UserOptions"><a href="" class="btn btn-primary">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Cart
                        </a></li>
                </ul>
                <div class="col-sm-4">
                    <h4>Welcome User</h4>
                </div>
            </nav>

        </div>
    </div>
</div>
